body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 4rem;
  margin-bottom: 15px;
  display: block;
  width: 600px;
}
p{
  font-size: 13px;
  margin: 0px;
}
footer {
  text-align: right;
  color: midnightblue;
  margin-top: 90px;
}
span{
  color: midnightblue;
}
.tile-image{
  height: 200px;
  width: 260px;
  margin-right: 40px;
  float: left;
}
.left{
  float: left;
}
.right{
  float: right;
}
.card{
  width: 500px;
  margin-top: 50px;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: black;
  height: 0.5px;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
